.back{
    position:relative;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 28cm;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(247, 237, 245, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    background-color: #2b2a27;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #e7e2d0;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fffdf9;}

  .dropbtn {
    background-color: rgba(247, 10, 140, 0.2);
    color: #0f0d0d;
    padding: 15px;
    font-size: 16px;
    border-radius: 2cm;
    border: none;}

  .task{
      position: absolute;
      display: flex;
      padding-left: 100%;
      margin-top: 20px;
  }

  .task1{
  display: flex;
  padding: 0 10px;
  }
  .text5{
    position: absolute;
    top: 120px;
    width:20cm;
    padding-left: 70%;
    font-size: 40PX;
  }
  .text1{
    position: absolute;
    top: 260px;
    font-size: 24PX;
    height: 10%;
    padding-left: 70%;
    width:10cm
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }
  .topic {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .shade{
    background: linear-gradient(to right, #dddddd, #ffffff, #dddddd);
  }
  .container1 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
  }
  
  .info {
    display: flex;
  }
  
  .left, .right {
    flex-basis: 50%;
    width: 10cm;
  }
  
  .left h2 {
    margin-top: 0;
    justify-content: center;
  }
  
  .right h2 {
    margin-top: 0; /* Remove top margin for first element */
  }
  
.container5{
  display: flex;
  align-items: center; /* Center items vertically */
}

.content {
  flex: 1; /* Take remaining space */
}

.image {
  flex: 1; /* Take remaining space */
  text-align: center; 
  /* Center the image horizontally */
}

.image img {
  max-width: 45%; /* Ensure image doesn't exceed container width */
}